<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon_normal</key>
		<string>wechat72*72</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>微信</string>
		<key>type</key>
		<string>WEIXIN</string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4662</integer>
		<key>platformSubType</key>
		<real>17185</real>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>朋友圈72*72</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>朋友圈</string>
		<key>type</key>
		<string>WEIXIN</string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<string>4662</string>
		<key>platformSubType</key>
		<real>17186</real>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_lwfeed</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>来往好友</string>
		<key>type</key>
		<string>LW</string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<real>4663</real>
		<key>platformSubType</key>
		<real>17186</real>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>sinaweiboauthed72*72</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>微博</string>
		<key>type</key>
		<string>WB</string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4660</integer>
		<key>platformSubType</key>
		<string></string>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>sms72*72</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>短信</string>
		<key>type</key>
		<string></string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4664</integer>
		<key>platformSubType</key>
		<string></string>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_email</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>邮件</string>
		<key>type</key>
		<string></string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4665</integer>
		<key>platformSubType</key>
		<string></string>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_copy</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>复制</string>
		<key>type</key>
		<string></string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<real>4666</real>
		<key>platformSubType</key>
		<string></string>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_qq</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>QQ</string>
		<key>type</key>
		<string></string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<real>4661</real>
		<key>platformSubType</key>
		<real>17185</real>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_qzoneauthed</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>QQ空间</string>
		<key>type</key>
		<string></string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4661</integer>
		<key>platformSubType</key>
		<real>17186</real>
		<key>plugin</key>
		<string></string>
	</dict>
	<dict>
		<key>icon_normal</key>
		<string>share_qrcode</string>
		<key>icon_highlighted</key>
		<string></string>
		<key>platformName</key>
		<string>二维码</string>
		<key>type</key>
		<string>QR</string>
		<key>appkey</key>
		<string></string>
		<key>platformType</key>
		<integer>4667</integer>
		<key>platformSubType</key>
		<integer>0</integer>
		<key>plugin</key>
		<string></string>
	</dict>
</array>
</plist>
